@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 97%;
    --foreground: 224 76% 21%;
    --card: 240 10% 100%;
    --card-foreground: 224 76% 21%;
    --popover: 240 10% 100%;
    --popover-foreground: 224 76% 21%;
    --primary: 221 83% 53%;
    --primary-foreground: 210 40% 98%;
    --secondary: 240 5% 90%;
    --secondary-foreground: 224 76% 21%;
    --muted: 240 5% 90%;
    --muted-foreground: 240 4% 46%;
    --accent: 240 5% 96%;
    --accent-foreground: 224 76% 21%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 221 83% 53%;
    
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222 83% 5%;
    --foreground: 210 40% 98%;
    --card: 225 15% 12%;
    --card-foreground: 210 40% 98%;
    --popover: 222 83% 5%;
    --popover-foreground: 210 40% 98%;
    --primary: 221 83% 63%;
    --primary-foreground: 210 40% 98%;
    --secondary: 225 10% 18%;
    --secondary-foreground: 210 40% 98%;
    --muted: 225 10% 18%;
    --muted-foreground: 210 40% 60%;
    --accent: 225 10% 18%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 225 10% 22%;
    --input: 225 10% 22%;
    --ring: 221 83% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-gray-50 text-foreground;
  }
}
